@font-face {
    font-family: norse-bold;
    src: url("font/Norse-Bold.otf");
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    height: 75vh;
    margin-top: calc(25vh / 2);
    width: 100%;
}

div {
    margin: 0;
}

/* Form Section */

.form {
    background-color: #c0c0c0;
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form > div {
    flex: 1;
    padding: 2% 5%;
}

/* Form Intro */

.intro {
    background-color: #eee;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    z-index: 2;
}

/* Form Sign-Up */

.sign-up {
    background-color: #f9faf8;
    box-shadow: 0 2px 5px 5px #c0c0c0;
    position: relative;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 9px;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
}

.form-inputs > div {
    width: 40%;
}

label {
    margin-top: 10px;
    display: block;
    font-size: .8rem;
}

input {
    padding: 3px 0 3px 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 50%;
    font-size: 1.1rem;
}

input:focus {
    border: 1px solid blue;
}

input:focus:invalid, input:invalid {
    border: 1px solid red;
    background-color: #f001;
}

input:focus:valid, input:valid {
    border: 1px solid green;
    background-color: #0f01;
}

/* Form Create Account */

.create {
    background-color: #eee;
}

.create > button {
    background-color: #070;
    color: #f9faf8;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 20%;
}

.create > button:hover {
    background-color: #070a;
    cursor: pointer;
}

.create a {
    color: #070;
    text-decoration: none;
}

.create a:hover {
    color: #070a;
    text-decoration: underline;
}

/* Logo Section */

.logo {
    background-image: url("images/leaf.avif");
    width: 30vw;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
}

.logo > p {
    color: #f9faf8;
    font-size: 14px;
}

.logo > p > a {
    color: #f9faf8;
}

.logo > p > a:hover {
    color: #c0c0c0;
}

.logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0009;
    color: #f9faf8;
    font-family: Norse-Bold;
    font-size: 6rem;
    position: absolute;
    top: 25%;
    width: 100%;
}

.logo-image > img {
    width: 30%;
    height: auto;
}
